<header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </div>
      <nav class="main-nav">
        <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
        <ul>
          <li><a href="{{site.baseurl}}/">Nos Cocktails</a></li>
          <li><a href="{{site.baseurl}}/about">Qui sommes nous ?</a></li>
        </ul>
      </nav>
      <p class="logo" style="display: flex; align-items: center;">
<a><img src="https://image.noelshack.com/fichiers/2019/34/3/1566424377-test6.png"/></a>
<a href="{{site.baseurl}}/" style="margin-left: 20px; margin-top: 10px">Le Plateau</a></p>


      <div class="search-icon-container">
        <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </div>
</header> <!-- End Header -->
